@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  /* Gradient نهائي مريح للعين */
  background: linear-gradient(145deg, #6366f1, #60a5fa); /* بنفسجي متوسط → أزرق فاتح */
  min-height: 100vh;
  padding: 20px;
}

/* Overlay شفافة خفيفة لتقليل الوهج */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}


button {
  cursor: pointer;
} 